[[8 - Crittografia applicata/1 - Concetti/1 - Trovare soluzioni crittografiche/soluzione]] al problema di [[distribuzione chiavi pubbliche]] in cui si fa uso della [[fiducia transitiva]] per determinare se fidarsi o no di una data [[chiave pubblica]].

Offre ottima [[scalabilità]].